
<!DOCTYPE html>
<html>
  <head>
    <title>Loja Express</title>

     <link rel="preconnect" href="https://fonts.googleapis.com" />
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    
    
     <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=Heebo&family=Kalam:wght@700&family=Mukta:wght@300&family=Pompiere&family=Poppins:wght@200&family=Secular+One&display=swap"
      rel="stylesheet"/>
    
  </head>
<main>
        

    <form method="post" action="/usuarios/add" id="formCadastrar">
        <h2>Cadastre-se</h2>
        <label>
            <span>*Nome Completo</span>
            <input type="text" name="nome" value="submit">
        </label>
        
        <label>
            <span>*CPF:</span>
            <input type="number" name="cpf" value="submit">
        </label>
        <label>
            <span>*Data de Nascimento:</span>
            <input type="date" name="data" value="submit" >
        </label>
        <label>
            <span>Endereço:</span>
            <input type="text" name="endereco" value="submit" >
            <span>rua</span>
        </label>
        
        <label type="text" name="rua" value="submit"></label>
        <div class="controles">
            <button type="submit">Cadastrar</button>
        </label>
    </form>