<!DOCTYPE html>
<html>
  <head>
    <title>Loja Express</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=Heebo&family=Kalam:wght@700&family=Mukta:wght@300&family=Pompiere&family=Poppins:wght@200&family=Secular+One&display=swap" rel="stylesheet">
  </head>
  <header>
    <h2>FRETE GRÁTIS | Válido para compras no Espirito Santo acima de R$100</h2>
  </header>
  <div class="cointeiner"> 
    <div class="logo"><img src="/images/logo3.png" alt=""></div>
    <div class="button-in">
      <a href="#">Entrar</a>
   </div>
   <div><div class="button-out">
    <a href="#">Sair</a></div>

  </div>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
