<!DOCTYPE html>
<html>
  <head>
    <title>Loja Express</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=Heebo&family=Kalam:wght@700&family=Mukta:wght@300&family=Pompiere&family=Poppins:wght@200&family=Secular+One&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <header>
    
      <h2 class="frete">FRETE GRÁTIS | Válido para compras no Espirito Santo acima de R$100</h2>   
  
    </header>
  <section class="cointeiner"> 
    <div class="icon-bar">
      
      <a href="#"><i class="fa fa-search"></i></a> </div>
    <img class="log" src="/images/log.png" alt="">
            
    <section class="menu">
            <div class="dropdown">
      <button class="dropbtn">MENU</button>
     <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
     </div>
    </div>
            
     </section>

  
  </section>
  <div><img class="compre" src="/images/compre3.png" alt="">
  <div> <img class="cami" src="/images/cami.png" alt="">
    <p class="ent">Entregamos também para Todo Brasil</p></div>
    <section><div class="slideshow-conteudo">
   
    <!-- Full-width images with number and caption text -->
    
    
    
    <div class="mySlides fade">
      <div class="numbertext">1 / 2</div>
      <img src="/images/iph.png" style="width:100%">
      <div class="text">
      <h2>IPhone 13 Pro</h2>
    <h3>Tela OLED sem bordas1</h3> </div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="/images/sam.png" style="width:100%">
      <div class="text">
       <h2>Galaxy S22 Ultra</h2>
       <h3>5G Vinho 256GB</h3>
      </div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 1</div>
      <img src="/images/motog.png" style="width:100%">
      <div class="text"> <h2> moto g200 5G </h2>
        <h3> 256 GB - Azul</h3>
      </div>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
  </div></section>
<script>
  let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

</script>

<br>
<div class="cont">
<div class="gri">
   <div class="tx">
  <span class="ofer">Ofertas Incriveis Em Toda Linha Samsung A</span>
   <span class="ofer2"> Conheça As Outras Linhas Samsung</span></div>
   
      <img class="linhaSam" src="/images/fotophone.png" alt="">
<div class="act">     
   <form action="#">
<div class="esc">
    <label for="linha">Escolha uma das Linhas Samsung de Smartphones:</label></div>
  <br>
<div class="fom">
  <select id="cel" name="cel">
<div class="galaxy">
    <option value="Galaxy S">Galaxy S</option>
    <option value="Galaxy Z">Galaxy Z</option>
    <option value="Galaxy A">Galaxy A</option>
    <option value="Galaxy M">Galaxy M</option>
  </div>
  <div class="botao">
      <button class="des" type="submit">Descobrir</button></div> 
    </select> 
  </form>  
</div>

  <div class="cels"> <img class="cl" src="/images/cels.png" alt="">
  </div>

</div>
</div>

</body>

</html>
