<!DOCTYPE html>
<html>
  <head>
    <title>Loja Express</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    
    
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=Heebo&family=Kalam:wght@700&family=Mukta:wght@300&family=Pompiere&family=Poppins:wght@200&family=Secular+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../stylesheets/loja.css" />
  </head>
  <body>
    <link rel="stylesheet" href="../stylesheets/header.css" />
    <%- include('./parts/header') %>
    <nav>
      <ul>
          <li>
              <a href="#samsung">Samsung</a>
          </li>
          <li>
              <a href="#motorola">Motorola</a>
          </li>
          <li>
              <a href="#lg">LG</a>
          </li>
          <li>
              <a href="#outros">Outros</a>
          </li>
      </ul>
  </nav>
        <nav>
          <ul>
              <li>
                  <a class="tds" href="#samsung">Samsung</a>
              </li>
              <li>
                  <a class="tds" href="#motorola">Motorola</a>
              </li>
              <li>
                  <a class="tds" href="#lg">LG</a>
              </li>
              <li>
                  <a class="tds" href="#outros">Outros</a>
              </li>
          </ul>
      </nav>
      <section id="samsung">
          <h2>Samsung</h2>
         
             <img class="um" src="/images/um.png" alt="">
             <img class="dois" src="/images/dois.png" alt="">
             <img class="tres" src="/images/tres.png" alt="">
       
          <p>
              GALAXY A <br>
              Totalmente incrível, Galaxy feito para todos.
          </p>
          <p>
            O poder conectado do Galaxy
            Melhore sua experiência com dispositivos
             Galaxy perfeitamente conectados!
          </p>
          <p>
            A empresa é conhecida pela linha de smartphones Galaxy S, 
            mas também foi uma das líderes no mercado de celulares 
            com telas dobráveis, com produtos como o Galaxy Z Fold 
            e o Z Flip. 
            A companhia ainda produz os relógios da família Galaxy Watch 
            e os fones de ouvido Galaxy Buds
          </p>
          <p>
            O Galaxy Watch, tem como principal objetivo o cuidado a saúde,
            pois ele acompanha seu desempenho em atividades fisícas.  
          </p>
          <p>
              Trabalhamos com alguns modelos de Notebook, tem pra todo blso, e necessidade.
            </p>
          <img src="images/notes_sam.png" alt="">
          
      </section>
      <section id="motorola">
          <h2>Motorola</h2>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
      </section>
      <section id="lg">
          <h2>LG</h2>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
      </section>
      <section id="positivo">
          <h2>Positivo</h2>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
      </section>
      </div>
    </main>
    <link rel="stylesheet" href="../stylesheets/footer.css" />
    <%- include('./parts/footer') %>
  </body>
</html>
