<!DOCTYPE html>
<html>
  <head>
    <title>Loja Express</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=Heebo&family=Kalam:wght@700&family=Mukta:wght@300&family=Pompiere&family=Poppins:wght@200&family=Secular+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <link rel="stylesheet" href="../stylesheets/header.css">
    <%- include('./parts/header') %>
    <link rel="stylesheet" href="../stylesheets/loja.css">
    <main class="caixa">
        <div class="grid">
           <div class="um"> <a href="#"> Motorola</a></div>
            <div class="dois"><a href="#">Samsung</a></div>
            <div class="tres"><a href="#">Apple</a></div>
            <div class="quatro"><a href="#">Xiaomi</a></div>
            <div class="cinco"><a href="#">LG</a></div>
            <div class="seis"><a href="#">Outros</a></div>
        
        </div>
    </main> 
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <%- include('./parts/footer') %>
  </body>
</html>



  