<!DOCTYPE html>
<html>
  <head>
    <title>Loja Express</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    
    
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=Heebo&family=Kalam:wght@700&family=Mukta:wght@300&family=Pompiere&family=Poppins:wght@200&family=Secular+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../stylesheets/loja.css" />
  </head>
  <body>
    <link rel="stylesheet" href="../stylesheets/header.css" />
    <%- include('./parts/header') %>
    <nav>
      <ul>
          <li>
              <a href="#samsung">Samsung</a>
          </li>
          <li>
              <a href="#motorola">Motorola</a>
          </li>
          <li>
              <a href="#lg">LG</a>
          </li>
          <li>
              <a href="#outros">Outros</a>
          </li>
      </ul>
  </nav>
        <nav>
          <ul>
              <li>
                  <a class="tds" href="#samsung">Samsung</a>
              </li>
              <li>
                  <a class="tds" href="#motorola">Motorola</a>
              </li>
              <li>
                  <a class="tds" href="#lg">LG</a>
              </li>
              <li>
                  <a class="tds" href="#outros">Outros</a>
              </li>
          </ul>
      </nav>
      <section id="samsung">
          <h2 class="sams">Samsung</h2>
         
           
         <br>
             
             
       
          
             <span class="galaxy"> GALAXY </span> <br>
             <p class="ts">Totalmente incrível, Galaxy feito para todos.
                
            O poder conectado do Galaxy
            Melhore sua experiência <br> com dispositivos
             Galaxy perfeitamente conectados!
          
            A empresa é conhecida pela linha de <br> smartphones Galaxy S, 
            mas também foi uma das líderes no mercado <br> de celulares 
            com telas dobráveis, com produtos como o Galaxy Z Fold 
            e o Z Flip. <br>
            A companhia ainda produz os relógios da família Galaxy Watch 
            e os fones de ouvido Galaxy Buds <br>
                
                      
                <div class="prod"> 
                    <img class="um" src="/images/img/p_tres.png" alt="">
                    <img class="dois" src="/images/img/p_dois.png" alt="">
                    <img class="tres"src="/images/img/p_um.png" alt="">
                    <img class="quatro"src="/images/img/p_quatro.png" alt="">
                    <img class="cinco"src="/images/img/p_cinco.png" alt="">
                    <img class="seis"src="/images/img/p_seis.png" alt="">
                    <img class="sete"src="/images/img/p_sete.png" alt="">
                    <img class="oito"src="/images/img/p_oito.png" alt="">
                    <img class="nove"src="/images/img/p_nove.png" alt="">
                    <img class="dez"src="/images/img/p_dez.png" alt="">
                    <img class="onze"src="/images/img/p_onze.png" alt="">
                    <img class="doze"src="/images/img/p_doze.png" alt="">
                    <img class="treze"src="/images/img/p_treze.png" alt="">
                    <img class="quatorze"src="/images/img/p_quatorze.png" alt="">

                </div>
                 
            O Galaxy Watch, tem como principal objetivo o cuidado a saúde,
            pois ele <br> acompanha seu desempenho em atividades fisícas.  <br>
          
              Trabalhamos com alguns modelos de Notebook, tem pra todo blso, e necessidade.
           </p>
          <img  class="note_sam" src="images/notes_sam.png" alt="">
          <img  src="/images/tres.png" alt="">
      </section>
      <section id="motorola">
          <h2 class="motorola">Motorola</h2>
          <img src="/stylesheets/m2.png" alt="">
          <p>
   OUSE COMPARAR A MAIOR RESOLUÇÃO DO MERCADO
   Seus cliques ainda mais nítidos mesmo com pouca luz usando o sensor de 200 MP do motorola edge 30 ultra. Deixe suas fotos com aspecto profissional
   OUSE COMPARAR A MELHOR CÂMERA
   Você nunca viu igual. Conheça as câmeras dos smartphones da família edge. Aproveite a melhor câmera do mercado e ainda desfrute de ótimos retratos. Aproveite a lente ultra-wide e não deixe ninguém de fora, além disso, aproveite a câmera macro e tenha retratos mais de perto. Tudo isso com os smartphones motorola edge.</p>
   OUSE COMPARAR A MELHOR CÂMERA
  Você nunca viu igual. Conheça as câmeras dos smartphones da família edge. Aproveite a melhor câmera do mercado e ainda desfrute de ótimos retratos. Aproveite a lente ultra-wide e não deixe ninguém de fora, além disso, aproveite a câmera macro e tenha retratos mais de perto. Tudo isso com os smartphones motorola edge.
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          
      </section>
      <section id="lg">
          <h2 class="lg">LG</h2>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
      </section>
      <section id="positivo">
          <h2>Positivo</h2>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, consectetur nemo in ad alias voluptatum amet
              nesciunt tenetur aliquam. Aspernatur, impedit sit. Eligendi corrupti labore sit iste perferendis ipsa
              commodi!
          </p>
      </section>
      </div>
    </main>
    <link rel="stylesheet" href="../stylesheets/footer.css" />
    <%- include('./parts/footer') %>
  </body>
</html>
