<!DOCTYPE html>
<html>
  <head>
    <title>Loja Express</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    
    
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=Heebo&family=Kalam:wght@700&family=Mukta:wght@300&family=Pompiere&family=Poppins:wght@200&family=Secular+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../stylesheets/header.css" />
    <%- include('./parts/header') %>
    <link rel="stylesheet" href="../stylesheets/loja.css" />
    <nav>
      <ul>
          <li>
              <a href="#samsung">Samsung</a>
          </li>
          <li>
              <a href="#motorola">Motorola</a>
          </li>
          
          <li>
              <a href="#apple">Apple</a>
          </li>
      </ul>
  </nav>
        <nav>
          <ul>
              <li>
                  <a class="tds" href="#samsung">Samsung</a>
              </li>
              <li>
                  <a class="tds" href="#motorola">Motorola</a>
              </li>
              <li>
                  <a class="tds" href="#apple">Apple</a>
              </li>
              
          </ul>
      </nav>
      <section id="samsung">
          <h2 class="sams">Samsung</h2>
                
           
         <br>
             

         
             <span class="galaxy"> GALAXY </span> <br>
             <p class="ts">Totalmente incrível!
                Linha Galaxy são os smartphones mais <br> top de linha da Samsung 
                feito para todos os gostos
                e bolsos. <br>
               <div class="prod"> 
                  <img class="um" src="/images/trat/s10.png" alt="">
                  <img class="dois" src="/images/trat/s12.png" alt="">
                  <img class="tres" src="/images/trat/s16.png" alt="">
               </div>  
                    <div class="produto"> 
                      <img class="quatro" src="/images/trat/s7.png" alt="">
                      <img class="cinco" src="/images/trat/s14.png" alt="">
                      <img class="seis" src="/images/trat/s15.png" alt="">
                  </div> 
                  <div class="dobravel">
                    Se você prefere algo diferente,
                    também temos pra te apresentar <br>                                      a nova 
                    linha de smartphones dobráveis <br>
                 </div>
                         <div class="outros">
                            <img class="flip" src="/images/trat/s8.png" alt="">
                            <img class="fold" src="/images/trat/s9.png" alt="">
                          </div>    
                           
                            

                        </div>
                          <br>
                          <br>
                              <span class="poder"> Samsung Galaxy Watch!</span>
                              <div class="melhore"> Melhore sua experiência <br>com dispositivos
                                 perfeitamente conectados!
                              </div>
                              <div class="relogio">    
                                 <img class="sete" src="/images/trat/s2.png" alt="">
                                 <img class="oito" src="/images/trat/s1.png" alt="">
                                 <img class="nove" src="/images/trat/s3.png" alt="">
                                
                            </div>
                               <div class="poderdois">
                                Além de lindos eles auxiliam 
                                 na práticade excercicios físicos<br> com funções como 
                                 monitoramento de batimentos cardiacos,<br> contagem de passos
                                entre outros.

                            </div>
                            <br>
                                <div class="temnote">
                                        <span class="pc">
                                        Também trabalhamos com alguns modelos de  Notebook </span>


                                </div>

                                       <div class="note">
                                            <img class="noteum" src="/images/trat/s4.png" alt="">
                                            <img class="notedois" src="/images/trat/s5.png" alt="">
                                            <img class="notetres" src="/images/trat/s6.png" alt="">

                                        </div>
                                        <div class="com"> 
                                            com certeza você vai achar um que atenda a sua necessidade.
                                        </div>
        </section>
        <br>
    <section id="motorola">
        <div class="ouse">      
            <h2 class="motorola">Motorola</h2>
    
            OUSE COMPARAR A MELHOR CÂMERA
            Você nunca viu igual. Conheça as câmeras<br> dos smartphones da família edge. 
            Aproveite a melhor câmera do mercado <br> e ainda desfrute de ótimos retratos. <br>
         Tudo isso com os smartphones motorola da linha edge linha E e linha G .</p>
      </div> 
          <div class="moto">

            <img class="motoum" src="/images/trat/m2.png" alt="">
            <img class="motodois" src="/images/trat/m3.png" alt="">
            <img class="mototres" src="/images/trat/m1.png" alt="">
          </div> 
       
    </section>
     <section id="apple">
            <div class="titulos">
             <h2>Apple</h2>
             <span class="maca">Apple é uma das maiores empresas que atuam no mercado de tecnologia,<br> com destaque para smartphones, notebooks e acessórios como o smartwatch.</span>
            </div>
             <div class="smart">
                <span class="iphone">
                O Iphone é o primeiro e o mais querido smartphone do mercado <br> 
                com a tecnologia IOS ele é pontente,sua é famosa pela qualidade <br> das fotos, esses são os modelos que trabalhamos
                </span>    
             </div>
              <div class="fones">
                 <img class="appleum" src="/images/trat/a11.png" alt="">
                 <img class="appledois" src="/images/trat/a6.png" alt="">
                 <img class="appletres" src="/images/trat/a7.png" alt="">
              </div>
                  <div class="fonesdois">
                     <img class="applequatro" src="/images/trat/a8.png" alt="">
                     <img class="applecinco" src="/images/trat/a9.png" alt="">
                   </div>
                        <div class="noteair">
                            <h2>Macbook</h2>
                           
                        </div>
                        <span class="nt"> O MacBook Air é um notebook ultraleve da Apple </span>
                          <div class="notemaca">
                            <img class="macum" src="/images/trat/a3.png" alt="">
                            
                            <img class="macdois" src="/images/trat/a4.png" alt="">
                            <img class="mactres" src="/images/trat/a5.png" alt="">
                          </div>
                            <div>
                               <button class="btum" type="submit" id="button-registro">Comprar</button>
                               <button class="btdois" type="submit" id="button-registro">Comprar</button>
                               <button class="bttres" type="submit" id="button-registro">Comprar</button>
                              </div>   
        </section>
    
      
  
    <link rel="stylesheet" href="../stylesheets/footer.css" />
    <%- include('./parts/footer') %>
  </body>
</html>
