#nav-adm{
    display: flex;
	background-color: rgba(175, 91, 171, 0.86);
    width: 330px;
    margin-left: 60px;
	border-radius: 10px;
	
}

 



#nav-adm div{
    padding: 10px;
    font-size: 30px;
}
#nav-adm div span{
  font-size: 30px;
    display: block;
}
#nav-adm ul{
    list-style: none;
    padding: 5;
    margin: 0;
    display: flex;
}

#nav-adm ul li {
    display: block;
	margin-left: 15px;
}

#nav-adm ul li a{
    display: flex;
    padding: 25px;
font-size: 35px;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(238, 231, 231);
}




.geral{
	display: flex;
	background-color: rgba(255, 255, 255, 0.108);
}

.conteudo{

	display: grid;
	grid-template-areas:
	'A A C C'
	'A A C C'
	'F F F F'
	'J J J J';
   
	width: 800px;
margin-top:-80px;
	margin-left: 400px;
	background-color: rgba(175, 91, 171, 0.86);
	color: #FFF;
	padding: 20px;

	border-radius: 10px;
}
.nome{
	display: grid;
	grid-area: A;
	margin-left: 20px;
	margin-top: -10px;
}
.no{
	font-size: 25px;
	padding: 10px;
}

.resumo{
	display: grid;
	grid-area: C;
	height: 30px;
	width: 150px;
	margin-top: 10px;
	margin-left: 420px;
}
.re{
	
	width: 250px;
	height: 100px;

}
.ret{
	display: grid;
	grid-area: C;
	font-size: 25px;
	margin-left: 420px;
	margin-top: -95px;
}

.sub{
	margin-top: 230px;
	display: grid;

	width: 80px;
	height: 40px;
	margin-left: 40px;
}

.ano{
	display: grid;
	grid-area: C;
	margin-top: 20px;
	margin-left: 420px;
	font-size: 18px;
}
.duracao{
	display: grid;
	grid-area: C;
	margin-top: -320px;
	margin-left: 420px;
	font-size: 18px;
}
.foto{
	display: grid;
	grid-area: F;
	margin-top: -5px;
	margin-left: 450px;
	width: 220px;
	font-size: 18px;

}
.im{
	width: 168px;
}
.salvar{
	display: grid;
	grid-area: J;
	margin-top: -35px;
	margin-left: -120px;
	height: 100px;
	
}
.bt{
	width: 130px;
}

.humo{
	display: grid;
	grid-area: A;
	margin-top: 35px;
	font-size: 25px;
	margin-left: 20px;

}

.hu{
	font-size: 40px;
padding: 10px;
text-decoration: underline;
}
.msg{
	font-size: 20px;
}