*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
height: 100%;
font-size: 16px;  
}
header{
    background-color: rgb(226, 43, 211);

}
section.cointeiner{
    display: flex;
    background-color: rgb(83, 72, 93);
    height: 200px;

}
img.logo{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 230px;
    height: 200px;
    margin-left: 380px;
}


.dropbtn {
    background-color:  #2a1934;
    color: white;
    padding: 16px;
    font-size: 20px;
    border-radius: 5px;
  
    border: #2a1934; ;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    border-radius: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:  #dfd6d6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.menu{
    margin-left: 500px;
    margin-top: 30px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
  font-weight: bold;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #dfd6d6}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:black;
  }
  .icon-bar {
    width: 90px; /* Set a specific width */
    background-color: rgb(83, 72, 93); /* Dark-grey background */
  }
  
  .icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
  }
  
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }
  
  