*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    font-size: 16px;  
    background-color: rgba(0, 0, 0, 0.814);
    color: white;
    }
    
       
     
     .um{
display: flex;

     }
     .dois{
        display: flex;
     }
     nav {
        position:fixed;
        top: 0;
        right: 0;
        width: 400px;
        padding: 20px;
        background-color: rgb(50, 30, 50);
        margin-top: 200px;
        
    }
    .tds{
       text-decoration: none; 
       color: white;
    }
    .dois{
   padding: 20px;
   width: 430px;
   height: 230px;
    }
    .tres{
      padding: 20px;
      width: 430px;
   height: 230px;
    }
    .note_sam{
      padding: 20px;
      width: 430px;
   height: 230px;
    }
    .sams{
      font-size: 40px;
      margin-left: 10px;
    }
    .galaxy{
      font-size: 30px;
      margin-left: 15px;
    }




