*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    font-size: 16px;  
    background-color: rgba(0, 0, 0, 0.814);
    color: white;
    }

     nav {
        position:fixed;
        top: 0;
        right: 0;
        width: 400px;
        padding: 20px;
        background-color: rgb(50, 30, 50);
        margin-top: 200px;
        
    }
    .tds{
       text-decoration: none; 
       color: white;
       margin-left: 20px;
    }
    
    .note_sam{
      padding: 20px;
      width: 430px;
   height: 230px;
    }
    .sams{
      font-size: 40px;
      margin-left: 10px;
    }
    .galaxy{
      font-size: 30px;
      margin-left: 35px;
    }
   

   
   .ts{
      margin-left: 20px;
   }

       .prod{
         display: flex;
         width: 110px;
         height: 220px;
         padding: 8px;
       }
    




