<footer class="footer">
          
  <div class="logs">
   <img class="logf"  src="/images/logf.png" alt="">
 </div>
  <div class="quem">
   <a class="qm" href="#">Quem somos</a>
  </div>
   <div class="insta">
     <img src="../images/insta.png" alt="">
   </div> 
    <div class="whats">
      <img src="../images/whats.png" alt="">
    </div>     
</footer>