<header>
  <h2 class="frete">
    FRETE GRÁTIS | Válido para compras no Espirito Santo acima de R$100
  </h2>
</header>
<section class="cointeiner">
  <a href="/loja"><img class="log" src="/images/log.png" alt="" /></a>

  <section class="menu">
    <div class="dropdown">
      <button class="dropbtn">MENU</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </section>
</section>

    
        <form id="formAddPedido" action="/aparelhos/addPedido" method="post">
            <label>
                <span>Endereço de Entrega:</span>
                <select name="enderecoDeEntrega">
                    <option value="0">Av Francisco Rodrigues Filho, 1902...</option>
                    <option value="1">Av Francisco Rodrigues Filho, 1902...</option>
                    <option value="2">Av Francisco Rodrigues Filho, 1902...</option>
                    <option value="3">Av Francisco Rodrigues Filho, 1902...</option>
                </select>
                <a href="/usuarios/enderecos/add">Adicionar endereço</a>
            </label>
            <label>
                <span>Forma de Pagamento:</span>
                <select name="formaDePagamento">
                    <option value="0">Pix</option>
                    <option value="1">Master (final 9999)</option>
                    <option value="1">Visa (final 8888)</option>                    
                </select>
                <a href="/usuarios/formasDePagamento/add">Adicionar forma de pagamento</a>
            </label>
            <footer>
                <a href="/loja">Continuar comprando...</a>
                <button type="submit">Finalizar Pedido</button>
            </footer>
        </form>

        
    </div>
</body>
</html>
