<header>
  <h2 class="frete">
    FRETE GRÁTIS | Válido para compras no Espirito Santo acima de R$100
  </h2>
</header>
<section class="cointeiner">
  <a href="/loja"><img class="log" src="/images/log.png" alt="" /></a>

    <a class="button-cadastro" href="cadastro">Cadastre-se</a></div>
    

  <section class="menu">
    <div class="dropdown">
      <button class="dropbtn">MENU</button>
      <div class="dropdown-content">
        <a href="/login">Link 1</a>
        <a href="/loja">Link 2</a>
        <a href="/cadastro">Link 3</a>
      </div>
    </div>
  </section>
</section>

        </form>

      </div>
     
</body>
</html>
