<section class="cointeiner">
    <a href="/loja"><img class="log" src="/images/log.png" alt="" /></a>
  
    <section class="menu">
      <div class="dropdown">
        <button class="dropbtn">MENU</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </section>
  </section>
  
          </form>
  
          
      </div>
  </body>
  </html>